#posts-list {
  padding: 0;
  margin: 5rem 0;
  list-style-type: none;

  > li {
    margin-left: 1rem;
    margin-bottom: 1.25rem;

    > time {
      float: right;
      text-transform: uppercase;
      color: #777;
      font-size: 10px;
      letter-spacing: 2px;
    }
    > span > a {
      bottom: 2px;
    }
  }
}
.dimmer-mark {
    background: rgba(25,25,25,.75);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.post-link .post-time {
    position: absolute;
    width: 100%;
    left: 0;
    color: #ddd;
    margin-top: 2rem;
    text-align: center;
}
.cover.container, .post-link .post-time, .post-link .post-title {
    text-shadow: 0 .05em 0 rgba(0,0,0,.5);
}
.post-item {
    margin: 0;
}
.post-item .post-tags {
    position: absolute;
    margin-top: -36px;
    margin-left: 3px;
}
// main, main>.content, #posts-list {
//     padding: 0;
//     margin: 0;
// }
.dimmer-mark-hover, .dimmer-mark:hover {
    background: rgba(25,25,25,.25);
}
.post-link {
    display: block;
    height: 13.75rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.post-link .post-title {
    //width: 80%;
    color: #f8f8f8;
    -webkit-transform: translateY(-50%) translateX(-50%);
    transform: translateY(-50%) translateX(-50%);
    position: absolute;
    top: 37%;
    left: 50%;
    width: 100%;
    text-align: center;
    font-weight: 700;
}
#post-content a {
  @extend %dotted-link;
}

.post {
  > p {
    > img {
      border-radius: $border-radius;
        display: block;
      margin: 1.5rem auto;
      max-width: 100%;
      text-align: center;
      width: auto;
    }
  }

  pre {
    width: 95%;
  }

  > header {
    text-align: center;
  }

  &.meta {
    margin: .7em 0;
    font-size: .85rem;
    color: $gray;
  }

  &.tags {
    > a {
      &:first-child {
        margin-left: .2rem;
      }

      &:last-child {
        margin-right: .2rem;
      }
      padding: .15rem .25rem;
      font-size: .55rem;
      transition: all $aside-animation-time;
      text-transform: uppercase;
      color: $gray-lightest;
      border-radius: .25rem;
      background-color: rgba($primary-color, .45);

      &:hover {
        background-color: rgba($primary-color, 1);
      }
    }
  }

  &.author {
    img {
      display: inline-block;
      height: 22px;
      margin: 0 .5rem;
      vertical-align: middle;
      border: 0;
      box-shadow: none;
    }
  }

  &.comments {
    padding: 2rem 0 0;
  }

  &.related {
    line-height: 1;
    display: flex;
    padding: 4rem 0 2rem;
    justify-content: space-between;
  }
}

#post-image {
  max-width: 100%;
  margin-top: 1rem;
}

#post-title {
  font-size: $font-title;
  margin: 3rem 0 2.5rem;
  transition: all $aside-animation-time;

  &:hover {
    color: $hover-color;
  }
}
